*{
    margin: 0;
    padding: 0;
    border: 0;
}

img{
    width: 150px;
}

#pusheenArmy {
    width: 1000px;
    height: 600px;
    background-color: gray;
    display: flex;
    /*mover verticalmente:*/
    align-items: center;
    /*mover horizontalmente:*/
    justify-content:space-evenly ;
}