/* CSS reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
      
/* Clase fixed-width container que se "autocentrará" a sí misma */
.container {
    width: 1200px;
    margin: 0 auto;
}

/*Button*/
.btn {
    background-color: #2B78E4;
    color: white;
    border: 1px solid black;
    box-shadow: 2px 2px 0 black;
    width: 10em;
    height: 25px;   
}

/*Row y Col*/
.row{
    display: flex;
}

.col{
    flex: 1;
    padding: 20px;
    margin: 10px;
    background-color: #659DA1;
    color: white;
}

/*Navbar*/
.navbar {
    display: flex;
    justify-content: space-between; /*separa el h1 y navlinks hacia los extremos*/
    align-items: center;
    background-color: #333333;
    color: white;
    padding: 0 20px; /*el 0 le quita padding top-bottom*/
    height: 80px;
}

/*tarjeta con foto*/
.card {
    width: 370px;
}

.card-header{
    background-color: #18a2b8;
    height: 80px;
    border-radius: 3px 3px 0 0;
}

.card-header img{
    width: 60px;
    position: relative;
    top: 50px;
    left: 30px;
    border: 2px solid lightgray;
    border-radius: 50%;
}

.card-body{
    height: 130px;
    border: 2px solid lightgray;
    padding: 30px 20px;
    border-radius: 0 0 3px 3px;
}